@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	cursor: url(bnb.cur), auto !important;
}
body {
	min-height: 100vh;
}
html {
	font-size: 10px;
	font-family: Montserrat;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
a,img {
	cursor: url(cz.cur), auto !important;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: yellow;
}
.cta {
	display: inline-block;
	overflow: hidden;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 5px solid yellow;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
	margin: 2px;
}
.cta:hover {
	color: white;
	background-color: #2e2d28;
}
.brand h1 {
	font-size: 4rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: yellow;
}


/* HEADER SECTION */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1500px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: yellow;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* END OF HEADER SECTION */


/* HOME SECTION */
#home {
	background: linear-gradient(black, orange);
	background-position: top center;
	position: relative;
	z-index: 1;
}
#home::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}
#home .home {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#home h1 {
	display: block;
	width: fit-content;
	font-size: 5rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}
#home h1:nth-child(1) {
	animation-delay: 1s;
}
#home h1:nth-child(2) {
	animation-delay: 2s;
}
#home h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}
#home h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: yellow;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#home h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#home h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#home h1:nth-child(3) span {
	animation-delay: 2.5s;
}
#home img {
	width: 50px;
	height: 50px;
	margin-top: -16px;
	margin-bottom: -18px;
	margin-left: 10px;
	margin-right: -25px;
	border-radius: 100%;
}
@media(max-width: 500px){
	#home a:nth-last-child(1) {
		padding: 10px 56.5px;
	}
}
/* END OF HOME SECTION */


/* ABOUT SECTION */
#about {
	background: linear-gradient(orange, yellow);
	padding-bottom: 3%;
}
#about:after {
	background-color: black;
	opacity: 0.5;
}
#about .about {
	flex-direction: column;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 5% 0 0;
}
#about .col-left {
	width: 250px;
	height: 360px;
}
#about .col-right {
	width: 100%;
}
#about .col-right h1 {
	font-size: 70px;
	font-weight: bold;
	text-transform: capitalize;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
#about .col-right p {
	margin-bottom: 20px;
	font-size: 2.3em;
	line-height: 2em;
	font-weight: bold;
}
#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
}
#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid yellow;
	z-index: -1;
	opacity: 0;
}
#about .about-2 {
	margin: 5%;
	display: flex;
	border: 10px solid black;
	width: 600px;
	height: 320px;
	border-radius: 50px;
	padding: 2%;
	box-shadow: 10px 10px 25px black;
}
#about .why-buy h2 {
	color: black;
	font-size: 50px;
	letter-spacing: 1px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
#about .why-buy p {
	letter-spacing: 2px;
	font-size: 25px;
	padding-top: 5px;
	font-weight: bold;
	margin-bottom: 45px;
	text-align: left;
	line-height: 1px;
}
#about .about-3 {
	display: flex;
	margin-left: 50%;
	margin-right: 3%;
	border: 10px solid black;
	padding: 2%;
	width: auto;
	border-radius: 50px;
	box-shadow: 10px 10px 25px black;
}
#about .about-3 h2 {
	font-size: 50px;
}
#about .about-3 p {
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 25px;
	padding-bottom: 5px;
}
.about-img, .col-right, .about-2, .about-3  {
	opacity: 0;
}
.about-img-animation.active {
		animation: slide 1.25s, fade 2.25s;
    animation-delay: 300ms;
    position: relative;
    animation-fill-mode: both;
}
.col-right-animation.active {
	animation: slideUp 1.25s, fade 2.25s;
	animation-delay: 300ms;
	position: relative;
	animation-fill-mode: both;
}
.about-2-animation.active {
	animation: slideFarLeft 1.25s, fade 2.25s;
	animation-delay: 300ms;
	position: relative;
	animation-fill-mode: both;
}
.about-3-animation.active {
	animation: slideFarRight 1.25s, fade 2.25s;
	animation-delay: 300ms;
	position: relative;
	animation-fill-mode: both;
}

@keyframes fade {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

@keyframes slide {
0% {
    opacity: 0;
    transform: translate3d(-100%,0,0);
}
100% {
    opacity: 1;
    transform: translate3d(0,0,0);
}
}

@keyframes slideFarLeft {
0% {
    opacity: 0;
    transform: translate3d(100%,0,0);
}
100% {
    opacity: 1;
    transform: translate3d(0,0,0);
}
}

@keyframes slideFarRight {
0% {
    opacity: 0;
    transform: translate3d(-100%,0,0);
}
100% {
    opacity: 1;
    transform: translate3d(0,0,0);
}
}


@media only screen and (max-width: 680px) {
	#about .about-2 {
		display: block;
		width: auto;
		height: auto;
		border: 5px solid black;
		padding: 5%;
		font-weight: bold;
	}
	#about .why-buy h2 {
		font-size: 25px;
		text-align: center;
	}
	#about .why-buy p{
		font-size: 15px;
		font-weight: bold;
	}
	#about .about-3 {
		display: block;
		width: auto;
		height: auto;
		border: 5px solid black;
		padding: 5%;
		margin: 2%;
		font-weight: bold;
		text-align: center;
	}
	#about .about-3 h2 {
		font-size: 25px;
		text-align: center;
		font-weight: bold;
	}
	#about .about-3 p {
		font-size: 18px;
		font-weight: bold;
		justify-self: stretch;
		text-align: center;
	}
	#about .about {
		padding-top: 30px;
	}
	#about .col-right h1 {
		margin-top: -50px;
	}
	#about .col-right p {
		padding-left: 20px;
	}
	.about-2-animation.active {
		animation: slideUp 1.25s, fade 2.25s;
		animation-delay: 300ms;
		position: relative;
		animation-fill-mode: both;
	}
	.about-3-animation.active {
		animation: slideUp 1.25s, fade 2.25s;
		animation-delay: 300ms;
		position: relative;
		animation-fill-mode: both;
	}
}
/* END OF ABOUT SECTION */


/* ROADMAP SECTION */
#roadmap {
	background-color: #393E46;
	padding-bottom: 5%;
}
#roadmap section.box {
	opacity: 0;
}
#roadmap section.box-animation.active {
	animation: fade 2.25s;
	animation-delay: 300ms;
	position: relative;
	animation-fill-mode: both;
}
.wrapper h1 {
	color: yellow;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;
}
.wrapper {
	max-width: 1080px;
	margin: auto;
	padding: 5% 5% 0 5%;
	position: relative;
}
.wrapper .center-line {
	position: absolute;
	height: 95%;
	width: 4px;
	background: yellow;
	left: 50%;
	top: 150px;
	transform: translateX(-50%);
}
.wrapper .row {
	display: flex;
}
.wrapper .row-1 {
	justify-content: flex-start;
}
.wrapper .row-2 {
	justify-content: flex-end;
}
.wrapper .row section {
	background: #e8eb38;
	border-radius: 5px;
	width: calc(50% - 40px);
	padding: 20px;
	position: relative;
}
.wrapper .row section:hover {
	background: skyblue;
}
.wrapper .row section::before {
	position: absolute;
	content: "";
	height: 15px;
	width: 15px;
	background: #fff;
	top: 28px;
	z-index: -1;
	transform: rotate(45deg);
	opacity: 0;
}
.row-1 section::before {
	right: -7px;
}
.row-2 section::before {
	left: -7px;
}
.row section .icon,
.center-line .scroll-icon {
	position: absolute;
	background: yellow;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: black;
	font-size: 20px;
	box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
}
.center-line .scroll-icon {
	bottom: 0px;
	left: 50%;
	font-size: 25px;
	transform: translateX(-50%);
}
.row-1 section .icon {
	top: 15px;
	right: -60px;
}
.row-2 section .icon {
	top: 15px;
	left: -60px;
}
.row section .details,
.row section .bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.row section .details .title {
	font-size: 25px;
		font-weight: bold;
}
.row section p {
	margin: 10px 0 17px 0;
	font-size: 15px;
	font-weight: bold;
}
/* Media Query */
@media(max-width: 790px) {
	.wrapper .center-line {
		left: 40px;
  	}
	.wrapper .row{
		margin: 30px 0 3px 60px;
  	}
	.wrapper .row section{
		width: 100%;
  	}
	.row-1 section::before{
		left: -7px;
  	}
	.row-1 section .icon{
		left: -60px;
  	}
}
@media(max-width: 440px){
	.wrapper .center-line,
	.row section::before,
	.row section .icon{
    	display: none;
  	}
	.wrapper .row{
    	margin: 10px 0;
  	}
  	div.wrapper {
  		padding-top: 60px;
  	}
}
/* End Media Query */
/* END OF ROADMAP SECTION */


/* TOKENOMICS SECTION */
#tokenomics {
	background: linear-gradient(#393E46, #FFD369);
}
#tokenomics  h1 {
	font-size: 60px;
	text-align: center;
	padding-top: 7%;
	padding-bottom: 5%;
	color: yellow;
}
.chartCard {
	max-width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 1%;
	}
.chartBox {
	width: 700px;
	height: 400px;
	padding: 1px 1px 1px 1px;
	border-radius: 20px;
	background: whitesmoke;
	}
.tax {
	background:  #36454F;
	border-radius: 20px;
	flex-wrap: wrap;
	width: 700px;
	margin-top: 20px;
}
.taxtop {
	background: #f0f0f0;
	font-size: 35px;
	text-align: center;
	border-radius: 20px;
	font-weight: bold;
	height: 100px;
	padding-top: 30px;
	margin: 10px 10px 10px 10px;
}
.taxtop span {
	font-weight: bolder;
	text-shadow: 2px;
}
.taxtitle {
	background: ;
	border-radius: 20px;
	width: 335px;
	float: left;
	margin: 10px 0px 10px 10px;
	height: 500px;
}
.card {
	width: 315px;
	padding-top: 45px;
	height: 150px;
	text-align: center;
	font-size: 15px;
	margin: 10px 10px 10px 10px;
	border-radius: 20px;
	font-weight: bold;
	background: red;
	opacity: 0;
}
.card p {
	font-size: 30px;
	font-weight: bold;
}
.green-card-uno.active {
	animation-name: bounce;
	animation-duration: 0.7s;
	animation-fill-mode: both;
}
.green-card-dos.active {
	animation-name: bounce;
	animation-duration: 0.7s;
	animation-delay: 200ms;
	animation-fill-mode: both;
}
.red-card-uno.active {
	animation-name: bounce;
	animation-duration: 0.7s;
	animation-delay: 100ms;
	animation-fill-mode: both;
}
.red-card-dos.active {
	animation-name: bounce;
	animation-duration: 0.7s;
	animation-delay: 300ms;
	animation-fill-mode: both;
}
.red-card-tres.active {
	animation-name: bounce;
	animation-duration: 0.7s;
	animation-delay: 400ms;
	animation-fill-mode: both;
}

@keyframes bounce {
0% {
    opacity: 0;
    transform: scale3d(0.3,0.3,0.3);
}
20% {
    transform: scale3d(1.1,1.1,1.1);
}
40% {
    transform: scale3d(0.9,0.9,0.9);
}
60% {
    opacity: 1;
    transform: scale3d(1.03,1.03,1.03);
}
80% {
    transform: scale3d(0.97,0.97,0.97);
}
100% {
    opacity: 1;
    transform: scale3d(1,1,1);
}
}

@media only screen and (max-width: 971px) {
	#tokenomics h1 {
		font-size: 40px;
		padding-top: 60px;
	}
	.tax {
		margin-top: 20px;
		background: #393E46;
		height: auto;
		width: auto;
	}
	.taxtitle {
		height: auto;
		width: auto;
	}
	.card {
	      width: auto;
	      margin: 10px 5px 5px -5px;
	      padding: 30px 5px 5px 5px;
	}
	.chartBox {
	width: 3500px;
	height: 300px;
	padding: 1px 1px 1px 1px;
	border-radius: 20px;
	background: whitesmoke;
	}
}
/* END OF TOKENOMICS SECTION */


/* TEAM SECTION */
#team {
	background: #FFD369;
	width: 100%;
}
#team .wrappers {
	min-height: 100%;
	margin: 0;
}
#team .wrappers h1 {
	font-size: 60px;
	font-weight: bold;
	padding: 30px;
	margin-bottom: 60px;
	padding-top: 5.5%;
	text-align: center;
	color: black;
}
#team .coreteam {
	display: flex;
	text-align: center;
	width: auto;
	justify-content: center;
	flex-wrap: wrap;
}
#team .team-member {
	background-color: #393E46;
	margin: 5px;
	margin-bottom: 50px;
	width: 300px;
	padding: 20px;
	line-height: 20px;
	color: yellow;
	position: relative;
	opacity: 0;
}
#team .team-member:hover {
	background: black;
}
#team .team-member h3.role {
	color: #FFD369;
	font-size: 35px;
	margin-top: 35%;
	font-weight: bold;
}
#team .team-member a {
	color: #FFD369;
	font-size: 15px;
	text-transform: uppercase;
	margin: 12px 0;
}
#team .team-member p.role {
	color: #FFD369;
	font-size: 15px;
	text-transform: uppercase;
	margin: 12px;
	font-weight: bold;
}
#team .team-member p {
	color: yellow;
	font-size: 15px;
	text-transform: uppercase;
	margin: 12px;
}
#team .team-member u:hover {
	color: skyblue;
}
#team .team-member .team-img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: 50px;
	transform: translate(-50%);
	background: #575755;
	margin-left: 100px;
}
#team .team-member .team-img img {
	width: 150px;
	height: 150px;
	padding: 10px;
	border-radius: 100px;
}
#team .team-member .team-img img.hide {
	transition: 0.5s;
	position: absolute;
	top: 0%;
	left: 0%;
}
#team .team-member .team-img img.hide:hover {
	opacity: 0;
	transition: 0.5s;
}
#team .tglink {
	display: flex;
	flex-direction: column;
	width: 50px;
	margin-left: 40%;
}
#team .tglink img {
	filter: grayscale(1);
	transition: 0.3 ease filter;
}
#team .tglink:hover img {
	filter: grayscale(0);
}
.rise-animation1.active {
	animation-name: slideUp;
	animation-duration: 0.7s;
	animation-fill-mode: both;
}
.rise-animation2.active {
	animation-name: slideUp;
	animation-duration: 0.7s;
	animation-delay: 200ms;
	animation-fill-mode: both;
}
.rise-animation3.active {
	animation-name: slideUp;
	animation-duration: 0.7s;
	animation-delay: 400ms;
	animation-fill-mode: both;
}
.rise-animation4.active {
	animation-name: slideUp;
	animation-duration: 0.7s;
	animation-delay: 600ms;
	animation-fill-mode: both;
}
@keyframes slideUp {
0% {
    opacity: 0;
    transform: translate3d(0,50%,0);
}
100% {
    opacity: 1;
    transform: translate3d(0,0,0);
}
}

@media only screen and (max-width: 680px) {
	#team .wrappers h1 {
	padding-top: 17%;
}
}
/* END OF TEAM SECTION */


/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */


/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: yellow;
		font-weight: 500;
	}
}
/* End Keyframes */


/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}
		/* Home */
	#home h1 {
		font-size: 7rem;
	}
	#home img {
		width: 80px;
		height: 80px;
		margin-top: -26px;
		margin-bottom: -30px;
		margin-left: 20px;
		margin-right: -35px;
		border-radius: 100%;
	}

	/* End Home */

	/* About */
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid #f5c907;
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	/* End About */
}
/* End Media Query For Tablet */


/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
/* header */
#header .hamburger {
	display: none;
	}
#header .nav-list ul {
	position: initial;
	display: block;
	height: auto;
	width: fit-content;
	background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	#home h1 {
		font-size: 4rem;
	}
/* End header */
#services .service-bottom .service-item {
	flex-basis: 22%;
	margin: 1.5%;
	}
}
@media only screen and (max-width: 400px) {
	#home h1{
		font-size: 25px;
	}
	#about {
		font-weight: bold;
	}
}
